<!DOCTYPE html>
<html>
  <head>
    <title>Ragtag</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
      'https://fonts.googleapis.com/css?family=Pacifico',
       media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application',
     'https://fonts.googleapis.com/css?family=Roboto:400,500,700',
      media: 'all', 'data-turbolinks-track' => true %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
    <svg style="display: none;">
      <g id="ragtag" viewBox="0 0 64 48">
       <path id="svg_6" d="m14.4,37.6l15.8,-26.7l3.6,2.0l-19.4,24.7z" stroke-width="1" stroke="#000000" fill="#000000"/>
       <ellipse stroke="#000000" transform="rotate(33.84163284301758 32.28077087402344,11.453846740722663) " ry="2.9" rx="2.097073" id="svg_12" cy="11.453847" cx="32.28077" stroke-width="1" fill="#000000"/>
       <path id="svg_14" d="m29.5,14.9l1.4,-4.5l3.0,2.0l-4.4,2.5z" stroke-width="1" stroke="#000000" fill="#ffffff"/>
       <ellipse stroke="#ffffff" transform="rotate(35.311214447021484 32.44999999999999,11.200000000000003) " ry="1.813297" rx="1.177596" id="svg_15" cy="11.2" cx="32.45" stroke-width="1" fill="#ffffff"/>
       <ellipse transform="rotate(42.878902435302734 28.299999999999994,23.500000000000003) " ry="12.9" rx="12.6" id="svg_51" cy="23.5" cx="28.3" stroke-width="1" stroke="#000000" fill="none"/>
      </g>
    </svg>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
